{% extends 'accountStorage/layout.html' %}
{% block content %}
    <button type="button" class="btn btn-success" onclick="BtnAddEvent()">新建账号</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" onclick="UploadEvent()">模板上传</button>
    <!-- 搜索框 -->
    <div style="float: right;width: 300px">
        <form method="get">
            <div class="input-group">
                <label>
                    <input type="text" class="form-control" placeholder="搜 名称" name="search" value="{{ search_data }}"/>
                </label>
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
                </span>
            </div>
        </form>
    </div>
    <!-- 显示账号表的界面 -->
    <div class="bs-example" data-example-id="hoverable-table">
        <table class="table table-hover">
            <thead>
            <tr>
                {% for key in key_list %}
                    {% if key == 'password' %}
                        <th>{{ key }}</th>
                    {% elif key != 'ID' %}
                        <th>{{ key }}</th>
                    {% endif %}
                {% endfor %}
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for data in page_obj %}
                <tr>
                    <td>{{ data.name }}</td>
                    <td>{{ data.username }}</td>
                    <td>
                        {% if data.password %}
                            <button class="btn btn-info btn-xs" onclick="copyToClip('{{ data.password }}')">Copy
                            </button>
                        {% endif %}
                    </td>
                    <td>{{ data.note|default_if_none:"" }}</td>
                    <td>
                        <a class="btn btn-primary btn-xs btn-edit" onclick="BtnEditEvent({{ data.id }})">编辑</a>
                        <a class="btn btn-danger btn-xs btn-delete" onclick="BtnDeleteEvent({{ data.id }})">删除</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- 添加/编辑账号Modal -->
    <div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalAddEditLabel">title</h4>
                </div>
                <div class="modal-body">
                    <form id="formAddEdit" novalidate>
                        <div class="clearfix">
                            {% for i in form %}
                                <div class="col-xs-12">
                                    <div class="form-group" style="position: relative;margin-bottom: 20px">
                                        <label>{{ i.label }}</label>
                                        {{ i }}
                                        <span class="error-msg" style="color: red;position: absolute"></span>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <button type="button" class="btn btn-primary" onclick="BtnSaveEvent()">保存</button>
                </div>
            </div>
        </div>
    </div>
    <!-- 删除账号Modal -->
    <div class="modal fade" id="modalDelete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="alert alert-danger alert-dismissible fade in" role="alert">
                <h4>是否删除该账号？</h4>
                <p>删除后，相关账号将会消失！</p>
                <p style="text-align: right;">
                    <button type="button" class="btn btn-danger" onclick="ConfirmDeleteEvent()">确定</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                </p>
            </div>
        </div>
    </div>
    <!-- 上传Small modal -->
    <div class="modal fade" id="modalUpload" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm" role="document">
            <div class="modal-content">
                <p>
                    <a href="{{ excel_url }}">模板下载</a>
                    <input type="file" class="form-control" name="upload" id="file_uploads" required/>
                </p>
                <button class="btn btn-info form-control" type="submit" onclick="uploads()" value="submit">上传
                </button>
            </div>
        </div>
    </div>
    <!-- 分页 -->
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1&search={{ search_data }}">&laquo; 首页</a>
            <a href="?page={{ page_obj.previous_page_number }}&search={{ search_data }}">上一页</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>
        <a href="?page={{ page_obj.start_index }}&search={{ search_data }}">{{ page_obj.number }}</a>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ search_data }}">下一页</a>
            <a href="?page={{ page_obj.paginator.num_pages }}&search={{ search_data }}">尾页 &raquo;</a>
        {% endif %}
    </span>
    </div>
{% endblock %}
{% block js %}
    <script type="text/javascript">
        let ACCOUNT_ID

        //点击新建弹出
        function BtnAddEvent() {
            // 将正在编辑的ID设置为空
            ACCOUNT_ID = undefined;
            //清空对话框内容
            $("#formAddEdit")[0].reset();
            //修改对话框标题
            $("#modalAddEditLabel").text("新建账号");
            //点击新建按钮，显示对话框
            $('#modalAddEdit').modal('show');
        }

        //点击编辑弹出
        function BtnEditEvent(id) {
            //清空对话框内容
            $("#formAddEdit")[0].reset();
            ACCOUNT_ID = id
            //发送ajax去后端获取当前行的数据  /account/detail/?uid=123
            $.ajax({
                url: "{% url 'accountStorage:account_detail' %}",
                type: "get",
                data: {
                    id: id
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //将数据赋值到标签中
                        $.each(res.data, function (name, value) {
                            $("#id_" + name).val(value)
                        })
                        //修改对话框标题
                        $("#modalAddEditLabel").text("编辑")
                        //点击编辑按钮，显示对话框
                        $('#modalAddEdit').modal('show');
                    } else {
                        alert(res.error);
                    }
                }

            })
        }

        //点击保存，根据ACCOUNT_ID来执行脚本
        function BtnSaveEvent() {
            //清除错误信息
            $(".error-msg").empty();
            if (ACCOUNT_ID) {
                //编辑
                EditAccount();
            } else {
                //添加
                AddAccount();
            }
        }

        //新增用户
        function AddAccount() {
            $.ajax({
                url: "{% url 'accountStorage:account_add' %}",
                type: "post",
                data: $("#formAddEdit").serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        console.log("创建成功");
                        location.reload();
                    } else {
                        // 把错误信息显示在对话框中
                        $.each(res.error, function (name, errorList) {
                            $("#id_" + name).next().text(errorList[0]);
                        })
                    }
                }
            })
        }

        //编辑用户
        function EditAccount() {
            //点击保存按钮，发生请求  /order/edit/?uid=123
            $.ajax({
                url: "{% url 'accountStorage:account_edit' %}" + "?id=" + ACCOUNT_ID,
                type: "post",
                data: $("#formAddEdit").serialize(),
                dataType: 'JSON',
                success: function (res) {
                    if (res.status) {
                        console.log('修改成功')
                        location.reload();
                    } else {
                        if (res.tips) {
                            alert(res.tips);
                        } else {
                            // 把错误信息显示在对话框中
                            $.each(res.error, function (name, errorList) {
                                $("#id_" + name).next().text(errorList[0]);
                            })
                        }
                    }
                }
            })
        }

        //点击删除按钮，显示对话框
        function BtnDeleteEvent(id) {

            $('#modalDelete').modal('show');
            ACCOUNT_ID = id
            //console.log(ACCOUNT_ID);
        }

        //点击确定删除按钮，发送ajax请求删除数据
        function ConfirmDeleteEvent() {
            $.ajax({
                url: "{% url 'accountStorage:account_delete' %}",
                type: "get",
                data: {
                    id: ACCOUNT_ID
                },
                dataType: "JSON",
                success: function (res) {
                    if (res.status) {
                        //删除成功信息
                        //alert(res.msg);
                        ACCOUNT_ID = undefined
                        //刷新页面
                        location.reload()

                    } else {
                        //删除失败
                        alert(res.error)
                    }
                }
            })
        }

        //显示上传模态框
        function UploadEvent() {
            $('#modalUpload').modal('show');
        }

        //上传excel
        function uploads() {
            const form_data = new FormData();
            form_data.append('files', $('#file_uploads')[0].files[0]);
            $.ajax({
                url: "{% url 'accountStorage:upload_ajax_excel' %}",
                type: 'post',
                contentType: false,
                processData: false,
                data: form_data,
                success: function () {
                    alert('上传完成!')
                    location.reload();
                }
            })
        }

        //点击复制
        function copyToClip(content, message) {
            let aux = document.createElement("input");
            aux.setAttribute("value", content);
            document.body.appendChild(aux);
            aux.select();
            document.execCommand("copy");
            document.body.removeChild(aux);
            if (message == null) {
                console.log("复制成功");
                //alert("复制成功");
            } else {
                alert(message);
            }
        }


    </script>
{% endblock %}
