{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'accountStorage/plugins/bootstrap-3.4.1-dist/css/bootstrap.min.css' %}">
    <style>
        .account {
            width: 400px;
            border: 1px solid #dddddd;
            border-radius: 5px;
            box-shadow: 5px 5px 20px #aaa;
            margin-left: auto;
            margin-right: auto;
            margin-top: 120px;
            padding: 20px 40px;
        }

        .account h2 {
            margin-top: 1px;
            text-align: center;
        }
    </style>
</head>
<body>
<!-- 用户登录界面 -->
<div class="account">
    <h2>用户登录</h2>
    <form method="post" novalidate>
        {% csrf_token %}
        {% for i in form %}
            <div class="form-group">
                {% if i.name == 'code' %}
                    <label for="id_code">{{ i.label }}:</label>
                    <div class="row">
                        <div class="col-xs-7">
                            {{ i }}
                            <span style="color: red">{{ i.errors.0 }}</span>
                        </div>
                        <div class="col-xs-5" id="flush_code">
                            <img alt="" id="image_code" src="{% url 'accountStorage:image_code' %}"
                                 onclick="FlushCode()"/>
                        </div>
                    </div>
                {% else %}
                    <label>{{ i.label }}:</label>
                    {{ i }}
                    <span style="color: red">{{ i.errors.0 }}</span>
                {% endif %}
            </div>
        {% endfor %}

        <input type="submit" value="登录" class="btn btn-primary"/>
        <input type="button" value="注册" class="btn btn-primary" onclick="Register()"/>
        <span style="color: red;">{{ error_msg }}</span>
    </form>
</div>
<!-- 注册用户Modal -->
<div class="modal fade" id="modalAddEdit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="modalAddEditLabel">title</h4>
            </div>
            <div class="modal-body">
                <form id="formRegister" novalidate class="form-horizontal">
                    <div class="clearfix">
                        {% for i in register %}

                            <div class="col-xs-12">
                                <div class="form-group" style="position: relative;margin-bottom: 20px">
                                    <label>{{ i.label }}</label>
                                    {{ i }}
                                    <span class="error-msg" style="color: red;position: absolute"></span>
                                </div>

                            </div>
                        {% endfor %}
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" onclick="RegisterAdmin()">保存</button>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'accountStorage/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'accountStorage/plugins/bootstrap-3.4.1-dist/js/bootstrap.js' %}"></script>
<script src="{% static 'accountStorage/plugins/bootstrap-3.4.1-dist/js/WdatePicker.js' %}"></script>
<script type="text/javascript">
    // 弹出注册用户窗口
    function Register() {
        // 清空对话框内容
        $("#formRegister")[0].reset();
        // 修改对话框标题
        $("#modalAddEditLabel").text("注册用户");
        // 显示新建账号模态框
        $('#modalAddEdit').modal('show');
        //清空可能残留的错误
        $(".error-msg").empty();
    }

    //点击保存按钮，发生请求
    function RegisterAdmin() {
        $.ajax({
            url: "{% url 'accountStorage:register' %}",
            type: "post",
            data: $("#formRegister").serialize(),
            dataType: 'JSON',
            success: function (res) {
                if (res.status) {
                    console.log('注册成功');
                    alert('注册成功,请登录')
                    //刷新页面
                    location.reload();
                } else {
                    // 把错误信息显示在对话框中
                    $.each(res.error, function (name, errorList) {
                        $("#id_" + name).next().text(errorList[0]);
                    })
                }
            }
        })
    }

    //点击刷新验证码
    function FlushCode() {
        $.ajax({
            url: "{% url 'accountStorage:image_code' %}",
            type: "get",
            success: function (res) {
                let s = '<img alt="" id="image_code" src="/account/image/code/" onclick="FlushCode()">'
                $("#flush_code").html(s);
            }
        })
    }
</script>
</body>
</html>